@media only screen and (max-width: 1200px){
	html, body{
	
	font-size: 14px;
}
.about-para{
	
	margin-bottom: 20px;

}
.about-heading,
.testimonial-heading,
.packages-heading,
.contact-heading{
	margin-top: 90px;
}

}
@media only screen and (max-width: 1023px){

	html, body{
	
	font-size: 12px;
}
.header-box{
	margin-top: 30px;
}

.row{
	padding: 0 2%;
}
.about-box{
	margin-top: 40px;
}
.laptop-image{
	margin-top: 60px;
}

.package-box{
	width: 100%;
}
.package-heading{
	margin-bottom: 25px;
}
Footer{
	padding: 30px;
}

}
@media only screen and (max-width: 767px){
	
}
@media only screen and (max-width: 479px){
	
}